{% extends "base.html" %}

{% block title %} Survey Completed {% endblock %}

{% block content %}
    <h1>Thank you for completing {{survey.title}}!</h1>
    <p>Answers:</p>
    <ol>
        {% for question in survey.questions %}
            <li>
                {{question.question}}: <b>{{responses[loop.index0]["answer"]}}</b> {{responses[loop.index0]["comment"]}}
            </li>
        {% endfor %}
    </ol>

    <form action='/'>
        <button >Start Another Survey</button>
    </form>
{% endblock %}