{% extends "base.html" %}

{% block title %} Questions {% endblock %}


{% block content %}
    <section class = "flash">
        {% for message in get_flashed_messages() %}
            <p>{{message}}</p> 
        {% endfor %}
    </section>

    <h1>Questions:</h1>
    <form action = '/answer' method = 'POST'>
        <p>{{question}}</p>

        {% for choice in choices %}
            <input type = "radio" name = "answer" value = "{{choice}}">
            <label for = "{{choice}}">{{choice}}</label>
            <br>
        {% endfor %}
           
        {% if allow_text == True %}
            <input type = "text" name = "text">    
        {% endif %}
        <br>
        <button>Next Question</button>
    </form>
{% endblock %}
